# Name: Microscope_Communicator
# Author: Christian Tischer, Kota Miura
# Version: 1.0.0

Plugins>ALMF, "Microscope Communicator", embl.almf.Microscope_Communicator
Plugins>ALMF, "Run a Macro on New Image", embl.almf.MonitorFileGUIplugin("macro")
Plugins>ALMF, "Run a Jython on New Image", embl.almf.MonitorFileGUIplugin("jython")
